<a href="https://colab.research.google.com/github/kesavasivaNagaraju/FML-lab/blob/main/lr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello colab")

hello colab

In [ ]:
from sklearn import linear_model
import numpy as np
import pandas as pd

In [ ]:
path ="/boston.csv"
data = pd.read_csv(path)

In [ ]:
data.head

<bound method NDFrame.head of         crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [ ]:
data.describe

<bound method NDFrame.describe of         crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [ ]:
data.info

<bound method DataFrame.info of         crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [ ]:
df = data[['crim','indus','rm','tax','ptratio','b','lstat','medv']]

In [ ]:
df.head(50)

       crim  indus     rm  tax  ptratio       b  lstat  medv
0   0.00632   2.31  6.575  296     15.3  396.90   4.98  24.0
1   0.02731   7.07  6.421  242     17.8  396.90   9.14  21.6
2   0.02729   7.07  7.185  242     17.8  392.83   4.03  34.7
3   0.03237   2.18  6.998  222     18.7  394.63   2.94  33.4
4   0.06905   2.18  7.147  222     18.7  396.90   5.33  36.2
5   0.02985   2.18  6.430  222     18.7  394.12   5.21  28.7
6   0.08829   7.87  6.012  311     15.2  395.60  12.43  22.9
7   0.14455   7.87  6.172  311     15.2  396.90  19.15  27.1
8   0.21124   7.87  5.631  311     15.2  386.63  29.93  16.5
9   0.17004   7.87  6.004  311     15.2  386.71  17.10  18.9
10  0.22489   7.87  6.377  311     15.2  392.52  20.45  15.0
11  0.11747   7.87  6.009  311     15.2  396.90  13.27  18.9
12  0.09378   7.87  5.889  311     15.2  390.50  15.71  21.7
13  0.62976   8.14  5.949  307     21.0  396.90   8.26  20.4
14  0.63796   8.14  6.096  307     21.0  380.02  10.26  18.2
15  0.62739   8.14  5.834  307     21.0  395.62   8.47  19.9
16  1.05393   8.14  5.935  307     21.0  386.85   6.58  23.1
17  0.78420   8.14  5.990  307     21.0  386.75  14.67  17.5
18  0.80271   8.14  5.456  307     21.0  288.99  11.69  20.2
19  0.72580   8.14  5.727  307     21.0  390.95  11.28  18.2
20  1.25179   8.14  5.570  307     21.0  376.57  21.02  13.6
21  0.85204   8.14  5.965  307     21.0  392.53  13.83  19.6
22  1.23247   8.14  6.142  307     21.0  396.90  18.72  15.2
23  0.98843   8.14  5.813  307     21.0  394.54  19.88  14.5
24  0.75026   8.14  5.924  307     21.0  394.33  16.30  15.6
25  0.84054   8.14  5.599  307     21.0  303.42  16.51  13.9
26  0.67191   8.14  5.813  307     21.0  376.88  14.81  16.6
27  0.95577   8.14  6.047  307     21.0  306.38  17.28  14.8
28  0.77299   8.14  6.495  307     21.0  387.94  12.80  18.4
29  1.00245   8.14  6.674  307     21.0  380.23  11.98  21.0
30  1.13081   8.14  5.713  307     21.0  360.17  22.60  12.7
31  1.35472   8.14  6.072  307     21.0  376.73  13.04  14.5
32  1.38799   8.14  5.950  307     21.0  232.60  27.71  13.2
33  1.15172   8.14  5.701  307     21.0  358.77  18.35  13.1
34  1.61282   8.14  6.096  307     21.0  248.31  20.34  13.5
35  0.06417   5.96  5.933  279     19.2  396.90   9.68  18.9
36  0.09744   5.96  5.841  279     19.2  377.56  11.41  20.0
37  0.08014   5.96  5.850  279     19.2  396.90   8.77  21.0
38  0.17505   5.96  5.966  279     19.2  393.43  10.13  24.7
39  0.02763   2.95  6.595  252     18.3  395.63   4.32  30.8
40  0.03359   2.95  7.024  252     18.3  395.62   1.98  34.9
41  0.12744   6.91  6.770  233     17.9  385.41   4.84  26.6
42  0.14150   6.91  6.169  233     17.9  383.37   5.81  25.3
43  0.15936   6.91  6.211  233     17.9  394.46   7.44  24.7
44  0.12269   6.91  6.069  233     17.9  389.39   9.55  21.2
45  0.17142   6.91  5.682  233     17.9  396.90  10.21  19.3
46  0.18836   6.91  5.786  233     17.9  396.90  14.15  20.0
47  0.22927   6.91  6.030  233     17.9  392.74  18.80  16.6
48  0.25387   6.91  5.399  233     17.9  396.90  30.81  14.4
49  0.21977   6.91  5.602  233     17.9  396.90  16.20  19.4

In [ ]:
df.tail()

        crim  indus     rm  tax  ptratio       b  lstat  medv
501  0.06263  11.93  6.593  273     21.0  391.99   9.67  22.4
502  0.04527  11.93  6.120  273     21.0  396.90   9.08  20.6
503  0.06076  11.93  6.976  273     21.0  396.90   5.64  23.9
504  0.10959  11.93  6.794  273     21.0  393.45   6.48  22.0
505  0.04741  11.93  6.030  273     21.0  396.90   7.88  11.9

In [ ]:
df.describe()

,crim,indus,rm,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.136779,6.284634,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,6.860353,0.702617,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.460000,3.561000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,5.190000,5.885500,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,9.690000,6.208500,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,18.100000,6.623500,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,27.740000,8.780000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   indus    506 non-null    float64
 2   rm       506 non-null    float64
 3   tax      506 non-null    int64
 4   ptratio  506 non-null    float64
 5   b        506 non-null    float64
 6   lstat    506 non-null    float64
 7   medv     506 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 31.8 KB

In [ ]:
msk = np.random.rand(len(df)) < 0.9
train = df[msk]
test = df[~msk]

In [ ]:
train.head()

       crim  indus     rm  tax  ptratio       b  lstat  medv
1   0.02731   7.07  6.421  242     17.8  396.90   9.14  21.6
6   0.08829   7.87  6.012  311     15.2  395.60  12.43  22.9
7   0.14455   7.87  6.172  311     15.2  396.90  19.15  27.1
13  0.62976   8.14  5.949  307     21.0  396.90   8.26  20.4
15  0.62739   8.14  5.834  307     21.0  395.62   8.47  19.9

In [ ]:
test.head()

       crim  indus     rm  tax  ptratio       b  lstat  medv
0   0.00632   2.31  6.575  296     15.3  396.90   4.98  24.0
2   0.02729   7.07  7.185  242     17.8  392.83   4.03  34.7
9   0.17004   7.87  6.004  311     15.2  386.71  17.10  18.9
12  0.09378   7.87  5.889  311     15.2  390.50  15.71  21.7
14  0.63796   8.14  6.096  307     21.0  380.02  10.26  18.2

In [ ]:
train.describe()

,crim,indus,rm,tax,ptratio,b,lstat,medv
count,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000
mean,4.061454,11.295840,6.292175,417.180451,18.396241,353.607118,12.672105,22.437093
std,9.440263,6.968715,0.712728,172.274578,2.185887,96.543693,7.445294,9.427882
min,0.009060,1.210000,3.561000,187.000000,12.600000,0.320000,1.920000,5.000000
25%,0.081930,5.130000,5.878500,284.000000,16.900000,374.710000,6.725000,16.600000
50%,0.268380,9.900000,6.229000,337.000000,18.900000,391.270000,11.220000,21.000000
75%,4.285590,18.100000,6.629500,666.000000,20.200000,396.060000,17.155000,25.750000
max,88.976200,27.740000,8.780000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
trainx = np.asanyarray(train[['crim','indus','rm','tax','ptratio','b','lstat']])
trainy = np.asanyarray(train[['medv']])

In [ ]:
testx = np.asanyarray(test[['crim','indus','rm','tax','ptratio','b','lstat']])
testy = np.asanyarray(test[['medv']])

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = linear_model.LinearRegression()

In [ ]:
model.fit(trainx,trainy)

LinearRegression()

In [ ]:
yhat = model.predict(testx)

In [ ]:
print("mean absolute error",np.mean(np.absolute(testy - yhat)))

mean absolute error 3.685546372930411

In [ ]:
print("mean  error",np.mean(testy-yhat))

mean  error 0.038852324884800435

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
print("r2 score",r2_score(yhat,testy))

r2 score 0.684210342537938

In [ ]:
pred = model.predict(trainx)

In [ ]:
print("mean absolute error",np.mean(np.absolute(testy - yhat)))
print("mean  error",np.mean(testy-yhat))
print("r2 score",r2_score(yhat,testy))

mean absolute error 3.3650575127609126
mean  error 0.16802413888190118
r2 score 0.684210342537938